@model IEnumerable<Streaming_Video_MVC.Models.Actor>

@{
    ViewData["Title"] = "Add_actor";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Add_actor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameActor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameActor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDelete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdActor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdActor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdActor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
