@model IEnumerable<Streaming_Video_MVC.Models.Film>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Film</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table-primary">
    <thead>
        <tr>
            <th>Image</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.UrlFilm)</th>
            <th>@Html.DisplayNameFor(model => model.YearPublic)</th>
            <th>@Html.DisplayNameFor(model => model.AgeLimit)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td><img src=@item.UrlImg height=300/></td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.Country)</td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.Description)</td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.UrlFilm)</td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.YearPublic)</td>
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.AgeLimit)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFilm" class="link-dark" style="margin:5px">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdFilm" class="link-info" style="margin:5px">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IdFilm" class="link-danger" style="margin:5px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
